@font-face {
    font-family: D-DIN-Bold,Arial;
    src: url('fonts/D-DIN-Bold.otf');
} 
html{
    overflow-x: hidden;
    overflow-y: scroll;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'D-DIN-Bold',Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
}
a{
   color: #fff;
   text-decoration: none;
}
header{
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
header.scrolled {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 100%;
    padding-right: 50px;
    color: #000000;
    box-shadow: 0 6px 14px rgb(0 0 0 / 5%), 0 3px 3px rgb(0 0 0 / 5%);
  }
header.scrolled a{
    color: #000000;
  }
.logo img{
    height: 85px;
    width: 85px;
}
header a.logo{
    margin-right: 20px;
}
.center-nav a{
    text-decoration: none;
    font-size: 20px;
    padding: 0 20px;
}
/* navbar */

/*  */
.menuphone{
    display: none;
}
section{
    min-height: 900px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.vinlive{
    padding-left: 10px;
}
.vinbar{
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 100px;
    font-size: 40px;
    text-shadow: 0 0 20px #c9c9c9;
}
.main_concent{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    box-sizing: content-box;
    width: 1200px;
}
.banner{
    display: flex;
    align-items: center;
}
.bronirovanie{
    display: grid;
    align-items: center;
}
.banner ul{
    list-style: none;
    color: #fff;
}
.list_banner{
    justify-content: center;
}
.list_banner li{
    width: 100%;
    padding: 5px 0px;
    max-width: 400px;
    text-align: left;
}
.bron{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
}
.text-field__input{
    width: 100%;
    height: 40px;
    background: none;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
    color: #ffffff;
    outline:none;
    margin-bottom: 10px;
}
.sogl{
    color: #fff;
    margin-top: 5px;
}
.reservation-button{
    float: none;
    margin-top: 28px;
    text-align: center;
    padding-right: 45px;
    width: 100%;
}
.reserv-but{
    cursor: pointer;
    border: 1px solid #cca370;
    background-color: transparent;
    height: 50px;
    width: 100%;
    color: #ffffff;
    font-size: 18px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    transition: background-color 0.5s ease-in-out;
}
.reserv-but:hover{
    background-color: #cca370;
}
img {
    vertical-align: middle;
    padding: 10px;
}
.numbercol{
    color: #fff;
    display: grid;
    justify-content: center;
    margin-top: 50px;
}
.lookmap{
    color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    text-decoration: none;
}
.fa{
    margin-right: 10px;
    text-decoration: none;
}
.obrz{
    padding-top: 80px;
}
.live{
    color: #303e4c;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.izbr{
    color: #303e4c;
    font-size: 30px;
    line-height: 30px;
    display: flex;
    justify-content: center;
}
.vinelovezone{
    
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.desc-bar{
    font-size: 36px;
}
.vinelovezone p{
    font-size: 20px;
    box-sizing: border-box;
}
.wpb{
    font-size: 40px;
    color: #303e4c;
    margin-bottom: 35px;
    text-align: center;
}
.promo{
    display: flex;
    justify-content: center;
}
.textakz{
    font-size: 18px;
    text-align: center;
    margin-bottom: 14px;
}
.btn_bron{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_bron_zon{
    cursor: pointer;
    border: 2px solid #cca370;
    background-color: transparent;
    height: 35px;
    width: 70%;
    color: #444444;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease-in-out;
}
.btn_bron_zon:hover{
    background-color: #cca370;
    color: #fff;
}
.menustarti{
    background-size: cover;
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(https://o-zh.ru/wp-content/uploads/2019/06/dsc0616.jpg);
    background-attachment: scroll;
    width: 100%;
    height: 440px;
    background-position: 50% -125px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuholst{
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 40px;
    margin-bottom: 20px;
}
.europa{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    color: #fff;
    font-size: 30px;
    margin-bottom: 15px;
}
.btn_look{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_look_menu{
    cursor: pointer;
    border: 2px solid #cca370;
    background-color: transparent;
    height: 50px;
    width: 50%;
    color: #ffffff;
    font-size: 14px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease-in-out;
}
.btn_look_menu:hover{
    background-color: #cca370;
}
.vinika{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #303e4c;
    margin-top: 80px;
    margin-bottom: 25px;
    font-size: 46px;
}
.somelie{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #303e4c;
    margin-bottom: 25px;
    font-size: 24px;
}
.btn_look_vin{
    display: flex;
    align-items: center;
}
.btn_look_vin_map{
    cursor: pointer;
    border: 2px solid #cca370;
    background-color: transparent;
    height: 35px;
    width: 30%;
    color: #444444;
    font-size: 14px;
    padding: 15px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease-in-out;
}
.btn_look_vin_map:hover{
    background-color: #cca370;
    color: #fff;
}
.vinlive_map{
    margin-top: 45px;
    margin-left: 25px;
}
.dostavka{
    text-align: right;
    padding: 1px 77px 0 98px;
    margin: 81px -75px 36px 0;
}
.galereya{
    background-color: #324050;
    height: 1980px;
    left: 15px;
    box-sizing: border-box;
}
.galererya_text{
    color: #fff;
    font-size: 40px;
    padding-top: 80px;
    text-align: center;
    margin-bottom: 10px;
}
.pageable-slide{
    display: flex;
    justify-content: center;
}
.zone-img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.vc-item-1{
    width: 400px; 
    height: 705px;
    margin-bottom: 20px;
}
video{
    width: 400px; 
    height: 705px;
    margin-left: 10px;
    margin-top: 10px;
}
.kodex2{
    display: block
}
.vinbarZ{
    background-color: #EAEAEA;
    height: 300px;
}
.textlive{
    font-size: 40px;
    color: #303e4c;
    text-align: center;
    padding-top: 60px;
}
.num-text{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.btn_block_vin{
    display: flex;
    align-items: center;
}
.btn_look_vin_rest{
    cursor: pointer;
    border: 2px solid #cca370;
    background-color: transparent;
    height: 35px;
    width: 270px;
    color: #000000;
    font-size: 14px;
    padding: 15px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease-in-out;
}
.btn_look_vin_rest:hover{
    background-color: #cca370;
}
.minakarte{
    font-size: 40px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 10px;
}
.cotacts-top{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.contacts-item{
    font-size: 30px;
    margin-bottom: 20px;
}
.contacts-item img{
    width: 70px;
    height: 70px;
}
.text{
    padding: 20px 0px 10px 10px;
}
/*  Menu Start */
.menu{
    background-image: url('img/dscmenu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0px;
    height: 510px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-menu{
    color: #fff;
    font-size: 48px;
    border-bottom: 2px solid #d1a773;
    display: inline-block;
}
.menu-2{
    background-color: #f7f7f7;
    height: 350px;
}
.text-menu-1{
    color: #000000;
    font-size: 30px;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.bludopic{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bludopic img{
    width: 70px;
    height: 70px;
}
.text-menu-2{
    font-size: 20px;
}
.text-3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444444;
    font-size: 22px;
}
.menu-photo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-photo img{
    padding: 0px;
}
/*  Menu End */
/*  ViboMap Start */
.vino{
    background-image: url('img/vino.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0px;
    width: 100%;
    height: 510px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vino-photo{
    display: grid;
    align-items: center;
    justify-content: center;
}
.vino-photo-1 img{
    width: 1200px;
}
/*  ViboMap End */
/* Dostavka Start */
.menu-dost{
    background-image: url('img/vino.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0px;
    width: 100%;
    height: 510px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-4{
    margin: 0px;
}
.menu-dostavka{
    background-color: #f7f7f7;
    display: grid;
    align-items: center;
    justify-content: center;
}
.dostyand{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
/* Dostavka End */
footer{
    height: 300px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.logo-footer{
    padding-right: 40px;
}
.timework{
    color: #303e4c;
    font-size: 24px;
    padding-right: 110px;
}
.contacs{
    color: #303e4c;
    font-size: 24px;
}
.textwidget{
    color: #444444;
    font-size: 20px;
}
.copyright{
    background: transparent;
    display: none;
}

@media (max-width: 1500px) {
    .vinlive{
        padding-left: 10px;
        width: 630px;
    }
    .vinelovezone p {
        font-size: 18px;
    }
    .vinelovezone {
        display: flex;
        padding-top: 50px;
    }
    .vinezone img{
        width: 550px;
        height: 450px;
        vertical-align: middle;
        padding: 10px;
    }
    .dostavka{
        text-align: right;
        padding: 1px 81px 0 162px;
        margin: 81px -58px 36px 0;
    }
}
@media (max-width: 1300px) {
    .vinlive{
        padding-left: 10px;
        width: 630px;
    }
    .vinelovezone p {
        font-size: 18px;
    }
    .vinelovezone {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
    }
    .vinezone img{
        width: 450px;
        height: 350px;
        vertical-align: middle;
        padding: 10px;
    }
    .akzie img{
        width: 270px;
        height: 370px;
    }
    .textakz{
        font-size: 16px;
    }
    .btn_bron_zon {
        width: 60%;
        font-size: 15px;
    }
    .zone-img {
        width: 300px;
        height: 300px;
    }
    .galereya {
        height: 1485px;
    }
    .vc-item-1 {
        width: 300px;
        height: 527px;
    }
    video {
        width: 300px;
        height: 525px;
    }
}

@media (max-width: 1150px) {
    .vinlive{
        padding-left: 10px;
        width: 630px;
    }
    .vinelovezone p {
        font-size: 18px;
    }
    .vinelovezone {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
    }
    .vinezone img{
        width: 450px;
        height: 350px;
        vertical-align: middle;
        padding: 10px;
    }
    .dostavka{
        text-align: right;
        padding: -2px 81px 0 162px;
        margin: 16px -58px 36px 0;
    }
    section {
        min-height: 690px;
    }
    .akzie img{
        width: 230px;
        height: 280px;
    }
    .textakz{
        font-size: 14px;
    }
    .btn_bron_zon {
        width: 60%;
        font-size: 15px;
    }
    .zone-img {
        width: 300px;
        height: 300px;
    }
    .galereya {
        height: 1485px;
    }
    .vc-item-1 {
        width: 300px;
        height: 527px;
    }
    video {
        width: 300px;
        height: 525px;
    }
}
@media (max-width: 998px) {
    .logo img {
        height: 65px;
        width: 65px;
    }
    .center-nav a {
        font-size: 18px;
    }
    .live {
        font-size: 35px;
    }
    .vinlive{
        padding-left: 10px;
        width: 630px;
    }
    .desc-bar {
        font-size: 28px;
    }
    .wpb {
        font-size: 35px;
    }
    /* акции */
    section {
        min-height: 470px;
    }
    .akzie img{
        width: 180px;
        height: 200px;
    }
    .textakz{
        font-size: 12px;
    }
    .btn_bron_zon {
        width: 60%;
        font-size: 12px;
    }
    /* конец акции */
    .vinelovezone p {
        font-size: 16px;
    }
    .vinelovezone {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
    }
    .vinezone img{
        width: 450px;
        height: 350px;
        vertical-align: middle;
        padding: 10px;
    }
    .btn_look_vin_map {
        width: 60%;
        font-size: 12px;
    }
    .dostavka{
        text-align: right;
        padding: -2px 81px 0 162px;
        margin: 16px -58px 36px 0;
    }
    /*  */
    .zone-img {
        width: 300px;
        height: 300px;
    }
    .galereya {
        height: 1485px;
    }
    .vc-item-1 {
        width: 300px;
        height: 527px;
    }
    video {
        width: 300px;
        height: 525px;
    }
}
@media (max-width: 450px) {
    header{
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        background-color: #ffffff;
    }
    header a{
        color: #000000;
    }
    header.scrolled {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        width: 100%;
        padding-right: 50px;
        color: #000000;
        box-shadow: 0 6px 14px rgb(0 0 0 / 5%), 0 3px 3px rgb(0 0 0 / 5%);
      }
    .logo img {
        height: 65px;
        width: 65px;
    }
    .center-nav a {
        font-size: 16px;
    }
    /* navbar */
    .navbar {
        overflow: hidden;
        background-color: #333;
      }
      
      .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      .navbar a:hover {
        background-color: #ddd;
        color: black;
      }
      
      .navbar a.active {
        background-color: #4CAF50;
        color: white;
      }
    /*  */
    .menuphone{
        display: flex;
    }
    .content {
        display: grid;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        box-sizing: content-box;
        width: 1200px;
    }
    .text-field__input {
        width: 90%;
    }
    .reserv-but {
        cursor: pointer;
        border: 1px solid #cca370;
        background-color: transparent;
        height: 50px;
        width: 80%;
        color: #ffffff;
        font-size: 18px;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
        transition: background-color 0.5s ease-in-out;
    }
    .obrz {
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .live {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        margin-bottom: 10px;
        font-weight: bold;
        width: 350px;
        font-weight: 600;
        color: #303e4c;
        text-align: center;
        vertical-align: middle;
    }
    .izbr {
        font-size: 22px;
    }
    .vinlive{
        padding-left: 10px;
        width: 430px;
        text-align: left;
    }
    .desc-bar {
        font-size: 26px;
    }
    .wpb {
        font-size: 35px;
    }
    .vinelovezone p {
        font-size: 14px;
    }
    .vinezone img{
        width: 420px;
        height: 350px;
        vertical-align: middle;
        padding: 10px;
    }
    /* акции */
    section {
        min-height: 770px;
        padding-bottom: 30px;
    }
    .promo {
        display: grid;
        justify-content: center;
    }
    .akzie img{
        width: 300px;
        height: 350px;
    }
    .textakz{
        font-size: 18px;
    }
    .btn_bron_zon {
        width: 60%;
        font-size: 12px;
    }
    /* конец акции */
    .europa {
        font-size: 18px;
    }
    /*  */
    /*  */
    .vinelovezone {
        display: grid;
        justify-content: space-between;
        padding-top: 50px;
    }
    
    .btn_look_vin_map {
        width: 60%;
        font-size: 12px;
    }
    .dostavka{
        padding: 0 10px;
        margin: 0px;
        text-align: right;
    }
    .vinika {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #303e4c;
        margin-top: 80px;
        margin-bottom: 25px;
        font-size: 46px;
    }
    /*  */
    .galereya {
        height: 3950px;
    }
    .pageable-slide {
        display: grid;
        justify-content: center;
    }
    .zone-img {
        width: 300px;
        height: 300px;
    }
    .vc-item-1 {
        width: 300px;
        height: 527px;
    }
    video {
        width: 300px;
        height: 525px;
    }
    /*  */
    /* блок забр стол */
    .textlive {
        font-size: 30px;
        color: #303e4c;
        text-align: center;
        padding-top: 60px;
    }
    .num-text {
        display: grid;
        justify-content: center;
        margin-top: 40px;
    }
    /* контакты */
    .cotacts-top {
        display: grid;
    }
    .contacts-item {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .contacts-item img {
        width: 40px;
        height: 40px;
    }
    /*  */
    footer {
        height: 300px;
        display: grid;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }
    .logo-footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .timework {
        
        font-size: 24px;
        font-weight: bold;
    }
    .textwidget {
        
        color: #444444;
        font-size: 18px;
    }
    .contacs {
        
        color: #303e4c;
        font-size: 24px;
        font-weight: bold;
    }
    .copyright{
        background: transparent;
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }
    .policy{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .policy a{
        color: #000000;
        cursor: pointer;
    }
    .copyright-text{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*menu */
    .menu-photo img{
        width: 430px;
    }
    /*  */
    .vino-photo-1 img{
        width: 430px;
    }
    /*  */
    .menu-dostavka {
        padding-top: 10px;
    }
    .menu-dostavka img{
        width: 430px;
    }
    .text-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
    }
}


